<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<!-- begin board -->
<table class="board">
  <thead>
  <tr>
    <th class="forum">Forum</th>
    <th class="topics">Topics</th>
    <th class="posts">Posts</th>
    <th class="last_post">Last Post</th>
  </tr>
  </thead>
  <!-- begin category -->
  <tbody>
  <tr>
    <th class="category" colspan="4" scope="rowgroup">Category A</th>
  </tr>
  <!-- begin forum -->
  <tr>
    <td class="forum">Forum A</td>
    <td class="topics">0</td>
    <td class="posts">0</td>
    <td class="last_post">No posts</td>
  </tr>
  <!-- end forum -->
  </tbody>
  <!-- end category -->
</table>
<!-- end board -->

</body>
</html>